@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.NavBar { 
    background-color: black;
    padding: 20px;
    display: flex;
}

.NavBar a{ 
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px;
}

@media (max-width: 670px) { 
    .NavBar { 
        flex-direction: column;
    }
}